/* global */
body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

/* header */
header {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

/* main */
main a,
section a {
  color: aquamarine;
  font-size: 16px;
}

/* section */
section {
  color: white;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

section p {
  font-size: 21px;
  color: gray;
}

/* footer */
footer {
  padding-right: 3em;
  text-align: right;
  color: gray;
}
