body {
  margin: 0 20%;
  padding: 0;
  background-color: beige;
  opacity: 0.9;
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: -1;
}

@media only screen and (max-width: 640px) {
  body {
    margin: 0 7%;
    padding: 0;
    font-family: 'Nunito Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

h3 {
  font-size: 1.7em;
}

summary,
p {
  font-size: 1.2em;
}

header {
  display: flex;
  flex-direction: row;
}

header h2 {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  font-size: 2em;
}

nav {
  width: 100%;
  margin-right: 2em;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 0 0.5em;
  color: black;
  font-size: 2em;
}

#about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#about-me p {
  line-height: 1.7;
  font-weight: 300;
}

#projects img {
  max-width: 700px;
  margin: 2% auto;
}

@media only screen and (max-width: 1024px) {
  #projects img {
    width: 500px;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 640px) {
  #projects img {
    width: 400px;
    margin: 2% auto;
  }
}

#projects p {
  font-weight: 200;
}

.skill-set {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skill-set i {
  font-size: 1em;
  margin: 5px 7px;
}

.skills-container {
  font-size: 2em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills-container i {
  margin: 15px 10px;
}

footer {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  margin: 30px auto;
}

footer a {
  color: black;
  font-style: italic;
  text-decoration: none;
}
